SECRET_KEY='ваш_секретный_ключ'
DEBUG=False/True
ALLOWED_HOSTS=your.domain.com, localhost, 127.0.0.1
POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=db
DB_PORT=5432
